.drawer-content {
  width: 200px; /* Width of the drawer */
  padding-left: 10px; /* Additional padding */
}

.drawer-item .MuiListItemText-primary {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #003366; /* Dark blue text color */
  transition: color 0.3s ease;
}

.drawer-item:hover .MuiListItemText-primary {
  color: #FF4500; /* Orange on hover */
}



.MuiDivider-root {
  margin: 0; /* Keep dividers thin and consistent */
}
